/* Replacing Bootstrap - experimental */

#mols2grid ul.pagination {
    /* Unset defaults */
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    display: flex;
}
#mols2grid ul.pagination li {
    /* Unset defaults */
    display: list-item;
    text-align: -webkit-match-parent;


    border: solid 1px;
    width: 40px;
    height: 40px;

}

#searchbar {
    height: 40px;
    line-height: 40px;
    padding: 0 13px;
    border: solid 1px rgba(0,0,0,.15);
    background: #fff;
    border-radius: 2px;
}


/*
 *
 *
 *
 *
 *
 *
 *
 *
*/





{# padding-left: 1em; #}
{# max-width: {{ width }}px; #}
{# width: {{ width }}px; #}
{# max-width: {{ cell_width }}px; #}
{# width: {{ cell_width }}px; #}
{# float: left; #}

/* Grid */
#mols2grid .list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 1px; /* Compensate for negative padding on cell */
}
#mols2grid .cell {
    border: {{ border }};
    text-align: {{ textalign }};
    vertical-align: top;
    font-family: {{ fontfamily }};
    font-size: {{ fontsize }};
    padding: 0;
    margin: {{ gap }};
    flex: 1 0 {{cell_width}}px;
    
}
#mols2grid .cell .data-img {
    padding: 0;
    margin: 0;
}
#mols2grid .cell img, #mols2grid .cell svg {
    max-width: 100%;
    height: auto;
    padding: 0;
}
#mols2grid .data {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
#mols2grid .arrow-asc:after {
    content: '↑';
    text-align: right;
    float:right;
}
#mols2grid .arrow-desc:after {
    content: '↓';
    text-align: right;
    float:right;
}

/* Pagination */
#mols2grid .pagination {
    margin-right: 2rem;
}


/* Search bar switch */
#searchbar {
    padding-right: 122px;
    margin-left: 0.5rem;
}
#mols2grid .search-options-wrap {
    height: calc(1.5em + .75rem + 2px);
    width: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    {# border: solid 1px red; #}
}
#mols2grid .search-options {
    font-size: 12px;
    display: flex;
    height: calc(1.5em + .75rem);
    line-height: calc(1.5em + .75rem);
    margin-right: 4px;
    border-radius: 2px;
    {# border: solid 1px; #}
}
#mols2grid .search-options .option {
    background: #ddd;
    padding: 0 10px;
    cursor: default;
    user-select: none;
}
#mols2grid .search-options .option:not(.sel) {
    cursor: pointer;
}
#mols2grid .search-options .option:first-child {
    border-radius: 3px 0 0 3px;
}
.search-options .option:last-child {
    border-radius: 0 3px 3px 0;
}
#mols2grid .search-options .option.sel {
    background: #333;
    color: #fff;
}

/**
 * Hover states
 */
@media (hover:hover) {
    #mols2grid .cell:hover {
        background-color: {{ hover_color }} !important;
    }
    #mols2grid .search-options .option:not(.sel):hover {
        background: #ccc;
    }
}