<div id="chkbox-dropdown" class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="chkboxDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">☑</button>
    <div class="dropdown-menu" aria-labelledby="checkboxDropdownMenu">
        <button id="btn-chkbox-all" class="dropdown-item" type="button">Check all</button>
        <button id="btn-chkbox-match" class="dropdown-item" type="button">Check matching</button>
        <button id="btn-chkbox-none" class="dropdown-item" type="button">Uncheck all</button>
        <button id="btn-chkbox-invert" class="dropdown-item" type="button">Invert</button>
        <div class="dropdown-divider"></div>
        <button id="btn-chkbox-copy" class="dropdown-item" type="button">Copy to clipboard</button>
        <button id="btn-chkbox-dlsmi" class="dropdown-item" type="button">Save SMILES</button>
        <button id="btn-chkbox-dlcsv" class="dropdown-item" type="button">Save CSV</button>
    </div>
</div>