<html>
  <meta charset="utf-8">
  <head>
    <style>
      {% include 'css/table.css' %}
      /* custom CSS */
      {{ custom_css }}
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    {% include 'html/common_header.html' %}
    <!-- custom header -->
    {{ custom_header }}
  </head>
  <body>
    <table id="mols2grid">
      <tbody>
        {{ data }}
      </tbody>
    </table>
    {% if tooltip %}
    <script>
      // tooltips
      $.fn.tooltip.Constructor.Default.whiteList.span = ['style']
      $('.mols2grid-tooltip[data-toggle="popover"]').popover({
        placement: {{ tooltip_placement }},
        trigger: {{ tooltip_trigger }},
        html: true,
      })
      // resize iframe to fit content
      if (window.frameElement) {
          fit_height(window.frameElement);
      }
    </script>
    {% endif %}
  </body>
</html>